.home {

  #home {
    img {
      width: 75px;
      height: 75px;
    }

  }

  h2.post-title {
    @include title;
    text-align: center;
    font-size: 3em;
  }

  #featured {
    padding: 0;
    background-color: $dark_green;
    color: $white;
    h3 {
      text-align: center;
      font-size: 2em;
      padding: 8px;
      color: $white;
    }

  }

  .button {
    @include cf_submit( $alt_dark, $white );
    background-color: $alt_dark;

  }
  .big-cta {
    padding: 24px;
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 95%;
    margin-bottom: 24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 2.5% 12px;
  }

  .feature-container {
    @include rounded_section;
    .title-wrap {
      background-color: $primary;
      width: 100%;
      display: inline-block;
      line-height: 0;
      h3 {
        color: $white;
        text-align: center;
      }

    }

  }

  .container.feature-container {
    padding: 0;
  }


}
