@mixin general( $margin ) {
  background-color: $primaryTint1;
  border: 1px solid $primary;
  padding: $margin;
}

@mixin cf_input() {
  border: medium none;
  border-radius: 2px;
  font-size: 14px;
  margin-bottom: 25px;
  width: 100%;
}

@mixin cf_textarea() {
  width:100%;
  padding:15px;
  border:none;
  border-radius:2px;
  font-size:16px;
  color:$primaryTint1;
  margin-bottom:20px;
  background:$white;

}

@mixin cf_label() {
  color: $caldera_black;
  padding-left: 1px;
  padding-top: 12px;
}

@mixin cf_submit( $hover_color : $dark_green, $hover_bg : $white  ) {
  background-image: none;
  background-color: $dark_green;
  color: $white;
  text-shadow: none;
  border: none;
  padding: 12px;
  &:hover {
    color: $hover_color;
    background-color: $hover_bg;
    text-decoration: none;
  }

}

@mixin cf_required() {
  color: $white !important;
}

@mixin product_preview_h5_font_size {
  font-size: 2em;
}

@mixin sell_button() {
  border: none;
  padding: 15px 30px; background: #424A56; color: #FFF !important; text-decoration: none; transition: ease-in-out; transition-duration: .3s;
  margin: 24px 0;
  font-size: 2em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: $secondary1;
    text-decoration: none;
  }
}

@mixin title {
  color: $secondary1;
  text-shadow: none;
  margin: 48px 0 24px;
}

@mixin rounded_section {
  border: 1px solid #e1e1e1;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: $white;
  overflow: hidden;
  margin-bottom: 24px;
  background-position-y: 0;
  background-repeat: no-repeat;
}
