.single-post {
  .post-content {
    display: block;
    //overflow: auto;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  h2.post-title {
    color: $secondary1;
    text-shadow: none;
    margin: 48px 0 24px;
  }

  .product-preview {
    background-color: $white;
    .product-tagline {
      text-align: center;
      font-size: 1.5em;
    }
    img{
      width: 50%;
      display: inline-block;
      text-align: center;
      margin: 0 25%;
    }


  }

  ul#menu-plugins li {
    a {
      color: $secondary1;
      &:hover {color: $cwp_green };
    }
  }

  .add-on-search-result.product-preview h5 a {
    font-size: 1em;
  }

  .caldera-grid {
     .btn-default {
      @include cf_submit;
       &:hover {
         color: $white;
         background-color: $primary;
       }
    }
  }

  .nav li a {
    color: $cwp_green;
    &:hover { color: $dark_green;}
  }
}

