$color__background-body: $background;
$color__background-screen: $white;
$color__background-hr: $primary;
$color__background-button: $primary;
$color__background-pre: $secondary1Tint2;
$color__background-ins: $secondary1Tint2;

$color__text-screen: $black;
$color__text-input: $black;
$color__text-input-focus: $black;
$color__link: $dark_green;
$color__link-visited: $dark_green;
$color__link-hover: $secondary1;
$color__text-main: $black;

$color__border-button: $gray $gray $gray;
$color__border-button-hover: $alt_light $alt_light $alt_light;
$color__border-button-focus: $alt_dark $alt_dark $alt_dark;
$color__border-input: $white;
$color__border-abbr: $alt_dark;


